.input {
  color: rgb(0, 0, 0);
  width: 60vw;
  border-radius: 10px;
  border-color: transparent;
  padding: 5px;
  list-style-type: none;
}
.input::placeholder {
  padding-left: 5px;
}
.input:focus,
.input:hover {
  border-color: rgb(37, 54, 77);
}
