.fieldset {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  border: none;
  padding: 20px;
}
.legend {
  padding-top: 20px;
  font-size: 2vw;
}
@media (max-width: 767px) {
  .legend {
    padding-top: 10px;
    font-size: 4vw;
  }
  .fieldset {
    gap: 5px;
    padding: 10px;
  }
}
@media (max-width: 319px) {
  .legend {
    font-size: 6vw;
  }
}
